body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow: hidden; /* Empêche le défilement */
}

.container {
    position: relative;
    height: 100vh;
}

.page {
    display: none; /* Masque toutes les pages par défaut */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

canvas {
    max-width: 80%;
    max-height: 
